@using DemoApplication.Areas.Admin.ViewModels.Author
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ListItemViewModel

<tr>
    <td>@Model.Name</td>
    <td>@Model.LastName</td>
    <td class="text-end">
        <a asp-route="admin-author-update" asp-route-id="@Model.Id" class="btn btn-primary update-button">Update</a>
        <a asp-route="admin-author-delete" asp-route-id="@Model.Id" class="btn btn-danger remove-button">Delete</a>
    </td>
</tr>