<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Books</h4>
            </div>
            <div class="card-body">
                <div class="general-label">
                    <form>
                        <div class="mb-3 row">
                            <label for="horizontalInput1" class="col-sm-2 col-form-label">Email</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="horizontalInput1" placeholder="Enter Email">
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label for="horizontalInput2" class="col-sm-2 col-form-label">Password</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="horizontalInput2" placeholder="Password">
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <div class="col-sm-10 ms-auto">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="horizontalCheckbox" data-parsley-multiple="groups" data-parsley-mincheck="2">
                                    <label class="custom-control-label" for="horizontalCheckbox">Remember me</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-10 ms-auto">
                                <button type="submit" class="btn btn-de-primary">Submit</button>
                                <button type="button" class="btn btn-de-danger">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div><!--end card-body-->
        </div><!--end card-->
    </div>
</div>